@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=Satisfy&family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika';
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
img {
    object-fit: cover;
}
body {
    background-color:#dddddd;
}
nav {
    display: flex;
    padding: 0 80px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
nav a.logo {
    font-size: 40px;
    color: rgb(6, 74, 74);
    font-weight: 700;
}
nav .links a:not(:last-child) {
    margin-right: 30px;
    color: rgb(17, 135, 99);
}
nav .login button {
    padding: 8px 18px;
    border: none;
    margin-right: 16px;
    cursor: pointer;
    background-color: transparent;
}
nav .login button.signup {
    background-color: rgb(1, 53, 46);
    color: white;
    border-radius: 8px;
    margin-right: 15px;
    font-size: 15px;
}
.login button {
    font-size: 15px;
}
header {
    padding: 0 80px;
    margin-top: 30px;
    height: calc(100vh - 80px);     /* 80px is the height of Navigation bar */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header .left {
    width: 510px;
}
header img {
    width: 550px;
    border-radius: 30px;
}
header .left .title h1 {
    font-size: 70px;
}
header .left .title span {
    font-size: 70px;
    color: rgb(120, 68, 11);
    font-weight: 700;
}
header .left p {
    font-size: 18px;
    margin: 40px 0;
    line-height: 25px;
}
header .left a {
    display: flex;
    align-items: center;
    background-color: rgb(5, 142, 117);
    width: 200px;
    padding: 8px;
    border-radius: 30px;
}
header .left a i {
    background-color: #fff;
    font-size: 24px;
    border-radius: 50%;
    padding: 8px;
}
header .left a span {
    color: #fff;
    margin-left: 10px;
}
h2.separator {
    padding: 0 80px;
    font-size: 40px;
    margin-top: 40px;
}
.sell-cf {
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
.sell-cf .item,
.coffee-shop .list .item {
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.sell-cf .item:hover,
.coffee-shop .list .item:hover,
.beans .item:hover {
    box-shadow: none;
}
.sell-cf .item .header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sell-cf .item .header i {
    font-size: 35px;
    color: rgb(0, 100, 85);
}
.sell-cf .item .header h5 {
    font-size: 18px;
}
.sell-cf .item p {
    margin-top: 10px;
    padding: 0 4px;
}
.coffee-shop {
    padding: 0 80px;
    margin-top: 30px;
}
.coffee-shop .category {
    display: flex;
    gap: 25px;
}
.coffee-shop .category a {
    background-color: lightgrey;
    padding: 8px 18px;
    font-size: 18px;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.coffee-shop .category a:hover {
    color: #fff;
    background-color: rgb(255, 98, 81);
}
.coffee-shop .list {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.coffee-shop .list .item img {
    width: 210px;
    height: 210px;
    border-radius: 18px;
}
.coffee-shop .list .item .info {
    /*display: flex;
    align-items: flex-end;
    justify-content: space-between;*/
    padding: 12px 0;
    border-bottom: 2px solid rgb(3, 120, 3);
}
.coffee-shop .list .item .info h5 {
    font-size: 20px;
}
.coffee-shop .list .item .info .intro {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.coffee-shop .list .item .info .intro i {
    font-size: 28px;
    color:rgb(0, 100, 85);
}
.coffee-shop .list .item .info .intro p {
    font-size: 18px;
    color:rgb(15, 58, 58);
}
.coffee-shop .list .item .order {
    padding: 14px 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coffee-shop .list .item .order p,
.coffee-shop .list .item .order a {
    padding: 6px 10px;
    background-color: rgb(198, 198, 198);
    font-size: 16px;
    border-radius: 8px;
}
.coffee-shop .list .item .order a {
    background-color: rgb(34, 138, 110);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.coffee-shop .list .item .order a:hover {
    background-color: white;
    color: darkslategray;
}
.view-more {
    margin: 10px 0 40px;
    display: flex;
    justify-content: center;
}
.view-more button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: lightgray;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.view-more button:hover {
    color: #fff;
    background: rgb(18, 73, 48);
}
.beans {
    padding: 0 80px;
    margin: 40px 0 80px;
    display: flex;
    gap: 30px;
}
.beans .item {
    display: flex;
    background: white;
    align-items: center;
    width: 25%;
    gap: 20px;
    padding: 14px;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}
.beans .item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.beans .item .info h4 {
    font-size: 18px;
}
.beans .item .info p {
    font-size: 16px;
    margin-top: 8px;
}
footer {
    background-color: rgb(22, 28, 29);
    color: white;
    padding: 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h3 {
    font-size: 45px;
    line-height: 70px;
}
footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}
footer .right .links {
    display: flex;
    gap: 20px;
}
footer .right .links a {
    color: darkgrey;
    transition: color 0.3s ease;
}
footer .right .links a:hover {
    color: white;
}
footer .right .social {
    display: flex;
    align-items: center;
    gap: 15px;
}
footer .right .social a {
    color: white;
}
footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}
footer .right .social i:hover {
    color: darkgreen;
}
footer .right p {
    font-family: 14px;
    color: darkgrey;
}
@media screen and (max-width: 1270px) {
    header {
        gap: 15px;
    }
}
@media screen and (max-width: 1200px) {
    nav,
    header,
    h2.separator,
    .sell-cf,
    .coffee-shop,
    .beans {
        padding: 0 40px;
    }
    header .left .title h1 {
        font-size: 65px;
    }
    header .left .title span {
        font-size: 65px;
        color: darkgreen;
    }
    header img {
        width: 500px;
    }
    .coffee-shop .list .item img {
        width: 190px;
        height: 190px;
    }
    footer {
        padding: 50px 40px;
    }
    footer h3 {
        font-size: 35px;
    }
}
@media screen and (max-width: 1100px) {
    header .left .title h1 {
        font-size: 55px;
    }
    header .left .title span {
        font-size: 55px;
        color: darkcyan;
    }
    header img {
        width: 480px;
    }
    h2.separator {
        font-size: 35px;
    }
    .sell-cf .item .header i {
        font-size: 30px;
    }
    .sell-cf .item .header h5 {
        font-size: 16px;
    }
    .sell-cf .item p {
        font-size: 14px;
    }
    .coffee-shop .list {
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .coffee-shop .list .item {
        width: 48%;
    }
    .coffee-shop .list .item img {
        width: 100%;
        height: 300px;
    }
    .beans {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .beans .item {
        width: 47%;
    }
    footer .right .links {
        gap: 10px;
    }
    footer .links a {
        font-size: 15px;
    }
}
@media screen and (max-width: 950px) {
    header .left .title h1 {
        font-size: 45px;
    }
    header .left .title span {
        font-size: 45px;
        color: rgb(13, 151, 91);
    }
    header .left p {
        font-size: 16px;
    }
    header img {
        width: 420px;
    }
}
@media screen and (max-width: 850px) {
    nav a.logo {
        font-size: 30px;
        color: rgb(49, 114, 10);
    }
    nav .links a {
        font-size: 16px;
    }
    header {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 60px;
    }
    header .left {
        width: 100%;
    }
    header .left h1 {
        margin-top: 25px;
    }
    header .left p {
        margin: 25px 0;
    }
    header img {
        width: 100%;
    }
    .sell-cf {
        flex-wrap: wrap;
        gap: 24px;
    }
    .sell-cf .item {
        width: 48%;
    }
    .beans {
        gap: 20px;
    }
    footer {
        flex-direction: column;
        padding: 40px 40px;
    }
    footer h3 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    footer .right {
        width: 100%;
        align-items: center;
    }
    footer .right .links {
        gap: 40px;
    }
}
@media screen and (max-width: 700px) {
    nav,
    header,
    h2.separator,
    .sell-cf,
    .coffee-shop,
    .beans {
        padding: 0 20px;
    }
    nav a.logo {
        display: none;
    }
    nav .links a:not(:last-child) {
        margin-right: 15px;
    }
    nav .login button{
        padding: 8px 14px;
        margin-right: 0;
    }
    header .left h1 {
        font-size: 38px;
    }
    header .left p {
        font-size: 16px;
    }
    header .left a {
        width: 150px;
        padding: 6px;
        border-radius: 30px;
        font-size: 16px;
    }
    header .left a i {
        padding: 6px;
    }
    h2.separator {
        font-size: 30px;
    }
    footer {
        padding: 30px 20px;
    }
    footer .right .links {
        gap: 15px;
    }
    .sell-cf {
        gap: 30px;
    }
    .sell-cf .item {
        width: 100%;
    }
    .coffee-shop .list .item {
        width: 47%;
    }
    .coffee-shop .list .item img {
       height: 200px;
    }
    .coffee-shop .category a {
        font-size: 16px;
    }
    .beans .item {
        width: 47%;
    }
    .beans {
        justify-content: space-between;
    }
}